<%= form_for(@prompt_item) do |f| %>
  <% if @prompt_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prompt_item.errors.count, "error") %> prohibited this prompt_item from being saved:</h2>

      <ul>
      <% @prompt_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">HEY
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>

  <div class="field">
    <%= f.label :prompt_category %><br />
    <%= f.collection_select(:prompt_category_id, @categories, :id, :text) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
