= form_for(@prompt_item) do |f|
  - if @prompt_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@prompt_item.errors.count, 'error')} prohibited this prompt_item from being saved:"

      %ul
        - @prompt_item.errors.full_messages.each do |msg|
          %li= msg

  .field
    %span{:style => "width:115px;float:left;"}
      = f.label :prompt_category
    = f.collection_select(:prompt_category_id, @categories, :id, :text)

  .field
    %span{:style => "width:115px;float:left;"}
      = f.label :text
    = f.text_field :text

  .actions
    = f.submit