%html
  %body

    %header.current_festivals        

    .container      

      %section.top
        .left_column
          .logoHolder
            .subtitle{:style => "margin-top:40px"} Official
            .main_title Six Second Film Festival
            .subtitle "for people without patience"   

          %section.heading
            %span Make a movie with 
            %a{:href => "http://vine.co"}
              = image_tag("vine_icon.jpg", :size => "28x28", :style => "position:relative;top:6px")
            %span . Post to
            %a{:href => "http://twitter.com/6secfilms"}
              = image_tag("twitter_icon.png", :size => "30x30", :style => "position:relative;top:8px")
            %span . Get retweets. Win.         
         
        .right_column       

          .section.heading{:style => "font-family:Cinzel"}
            %a.section_title{:href => "http://www.vine.co", :style => "font-size:32px;float:left;height:28px;line-height:28px;margin-right:6px;"} 
              Today's Festival:
            %span.section_description{:style => "line-height:28px;"}= "#{@current_prompt.get_tweet_text}"
            %a.section_description{:href => "#{@current_prompt.twitter_hashtag_url}"}
              = @current_prompt.hashtag

          .about_link_holder
            = link_to "Enter Now", page_path("about"), :class => "about_link"        

      .past_festivals
        .past_winners Past Winners

        - for prompt in @prompts do

          - if prompt.winners.length > 0
            .past_festival          
              .festival_prompt
                %span= "#{prompt.pretty_timestamp} Festival: #{prompt.get_tweet_text}"            
                %a{:href => "#{prompt.twitter_hashtag_url}"}
                  = prompt.hashtag
              - video_margin = get_prompt_margin(prompt.winners.length)
              %div{:style => "float: left;"}
                - prompt.winners.each do |winner|
                  .video_holder{:style => "margin-left:#{video_margin}"}
                    %div                    
                      %iframe{:src => "#{winner.vine_url}/card", :width => "250", :height => "250"}
                    .tweet_text
                      %a{:href => winner.vine_url}  
                        = "#{winner.text}"
                    %div
                      %a.link{:href => "http://twitter.com/#{winner.user_name}"}
                        = "@#{winner.user_name}"

      = image_tag("rdg.png", :class => "rdg_logo")