%html
  %body

    %header.current_festivals

      .section.top
        %a.section_title{:href => "http://www.vine.co"} 
          Current Festival
        .section_description= "#{@current_prompt.get_tweet_text}"
        %a{:href => "#{@current_prompt.twitter_hashtag_url}"}
          = @current_prompt.hashtag

      .section.top
        %a.section_title{:href => @voting_prompt.twitter_hashtag_url} 
          Vote Now
        .section_description
          %span= "#{@voting_prompt.get_tweet_text}"
          %a{:href => "#{@voting_prompt.twitter_hashtag_url}"}
            = @voting_prompt.hashtag

    .container      

      .logoHolder
        .subtitle{:style => "margin-top:40px"} Official
        .main_title Six Second Film Festival
        .subtitle "for people without patience"
        .about_link_holder
          = link_to "Enter Now", page_path("about"), :class => "about_link"
          
      .section.heading.centered 
        %span Make a movie with 
        %a{:href => "http://vine.co"}
          = image_tag("vine_icon.jpg", :size => "28x28", :style => "position:relative;top:6px")
        %span . Post to
        %a{:href => "http://twitter.com/6secfilms"}
          = image_tag("twitter_icon.png", :size => "30x30", :style => "position:relative;top:8px")
        %span . Get retweets. Win.			            

      .past_winners Past Winners

      - for prompt in @prompts do

        - if prompt.winners.length > 0
          .past_festival          
            .festival_prompt
              %span= "#{prompt.pretty_timestamp} Festival: #{prompt.get_tweet_text}"            
              %a{:href => "#{prompt.twitter_hashtag_url}"}
                = prompt.hashtag
            - video_margin = get_prompt_margin(prompt.winners.length)
            %div{:style => "float: left;"}
              - prompt.winners.each do |winner|
                .video_holder{:style => "margin-left:#{video_margin}"}
                  %div                    
                    %iframe{:src => "#{winner.vine_url}/card", :width => "250", :height => "250"}
                  .tweet_text
                    %a{:href => winner.vine_url}  
                      = "#{winner.text}"
                  %div
                    %a.link{:href => "http://twitter.com/#{winner.user_name}"}
                      = "@#{winner.user_name}"

    = image_tag("rdg.png", :class => "rdg_logo")