%html
  %body

    %header.current_festivals

      .section.top
        .section_title Current Festival
        .section_description= "#{@current_prompt.get_tweet_text}"
        %a.section_action{:href => "http://www.vine.co/"}
          Play Now

      .section.top
        .section_title Vote Now
        .section_description= "#{@voting_prompt.get_tweet_text}"
        %a.section_action{:href => @voting_prompt.twitter_hashtag_url}
          Vote Now

    .container      

      .logoHolder
        = image_tag("logo.png")
        = image_tag("rdg.png", :class => "rdg")

        .section.heading.centered{:style => "padding: 10px 0;"} 
          A film festival for people without patience
          
        .section.heading.centered 
          %span Make a movie with 
          %a{:href => "http://vine.co"}
            = image_tag("vine_icon.jpg", :size => "28x28", :style => "position:relative;top:6px")
          %span . Post to
          %a{:href => "http://twitter.com/6secfilms"}
            = image_tag("twitter_icon.png", :size => "30x30", :style => "position:relative;top:8px")
          %span . Get retweets. Win.			            

      .past_winners Past Winners

      - for prompt in @prompts do

        .past_festival
          .festival_prompt= "#{prompt.pretty_timestamp} Festival: #{prompt.get_tweet_text}"

          - if prompt.winners.length > 0
            %div{:style => "float: left;"}
              - prompt.winners.each do |winner|
                .video_holder
                  %div                    
                    %iframe{:src => "#{winner.vine_url}/card", :width => "200", :height => "200"}
                  .tweet_text
                    %a{:href => winner.vine_url}  
                      = "#{winner.text}"
                  %div
                    %a.link{:href => "http://twitter.com/#{winner.user_name}"}
                      = "@#{winner.user_name}"