<%= form_for(@prompt_category) do |f| %>
  <% if @prompt_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prompt_category.errors.count, "error") %> prohibited this prompt_category from being saved:</h2>

      <ul>
      <% @prompt_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
