!!!
%html
  %head
    %title Six Second Film Festival</title>
    %link{:href => 'http://fonts.googleapis.com/css?family=Archivo+Narrow', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Cinzel:400', :rel => 'stylesheet', :type => 'text/css'}

    %meta{:content => "The film festival for people without patience", :name => "description"}

    = favicon_link_tag "favicon.ico" 
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{:style => "font-size: 18px;"}
    .container.static_container{:style => "padding-top: 0px"}

      .logoHolder{:style => "margin: 10px 280px 40px 280px;"}
        .subtitle{:style => "margin-top:40px"} Official
        .main_title Six Second Film Festival
        .subtitle "for people without patience"

      %p{:style => "padding-left:105px"} Welcome to the Six Second Film Festival. Here's how to play:
      %p{:style => "padding-left:105px"} 
        %span Go to the app store and download Vine. 
        %a{:href => "http://www.vine.co"}
          = image_tag("vine_icon.jpg", :style => "position:relative;top:7px;height:30px;width:30px;")

      %div{:style => "padding-left:105px"}
        .left_column{:style => "float:left;width:500px;"}
          %p 
            %span Every day at 7am pacific time, we'll post a new festival subject and hashtag on our website, and blast it out to our followers on Twitter 
            %a{:href => "https://twitter.com/6secfilms"}
              @6secfilms 
            %span . Then you have 24 hours to make a short film with Vine and post it to Twitter using the hashtag.

          %p 
            %span The films with the most retweets by next day at 7am pacific get posted
            %a{:href => "/"}
              here
            %span . It's that simple.

          %p Enjoy the show!
          
          %p - 6SFF

        .right_column{:style => "float:left;width:250px;"}
          %p
            = image_tag("vine_example.png", :style => "width:200px;padding-left:50px")